{% extends "layout.html" %}

{% block title %}
    Zmiana hasła
{% endblock %}

{% block main %}
    <form action="\changepassword" method="post">
        <div class="mb-3 mt-3">
            <input autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Stare hasło" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new_password" placeholder="Nowe hasło" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Nowe hasło (ponownie)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Zapisz</button>
    </form>
{% endblock %}